<div id="projects" class="linkbar">
	<div>
		<div>
			Projects:
		</div>
		<ul>
			<li>
			<a href="/droidpad"><img alt="DroidPad" src="/img/icon/proj/dp.png" />
				<br />
				<span class="hover">DroidPad</span></a>
			</li>
			<li>
			<a href="/remme"><img alt="RemMe?" src="/img/icon/proj/remme.png" />
				<br />
				<span class="hover">RemMe?</span></a>
			</li>
			<li>
			<a href="/netspoof"><img alt="Network Spoofer" src="/img/icon/proj/ns.png" />
				<br />
				<span class="hover">Network<br />Spoofer</span></a>
			</li>
			<li>
			<a href="/patchworker"><img alt="Patchworker" src="/img/icon/proj/patchworker.png" />
				<br />
				<span class="hover">Patchworker</span></a>
			</li>
			<li>
			<a href="/brightday"><img alt="Bright Day" src="/img/icon/proj/bd.png" />
				<br />
				<span class="hover">Bright Day</span></a>
			</li>
		</ul>
	</div>
</div>
